In [9]:
import pandas as pd
import datetime

In [14]:
data = pd.read_excel('水位.xlsx')
data

               datetime  deep
0   2020-07-22 12:00:00    15
1   2020-07-22 12:20:00    16
2   2020-07-22 12:40:00    14
3   2020-07-22 13:00:00    15
4   2020-07-22 13:20:00    16
5   2020-07-22 13:40:00    17
6   2020-07-23 12:00:00    13
7   2020-07-23 12:20:00    12
8   2020-07-23 12:40:00    14
9   2020-07-23 13:00:00    15
10  2020-07-23 13:20:00    15
11  2020-07-23 13:40:00    16

In [15]:
# 可以看到datetime列的数据类型目前还是object
data.dtypes

datetime    object
deep         int64
dtype: object

In [16]:
# 把datetime列转为datetime数据类型
data['datetime'] = pd.to_datetime(data['datetime'])

In [17]:
# 转换后的datetime列
data.dtypes

datetime    datetime64[ns]
deep                 int64
dtype: object

**单独查看datetime列中的日期**

In [21]:
data['datetime'].dt.date

0     2020-07-22
1     2020-07-22
2     2020-07-22
3     2020-07-22
4     2020-07-22
5     2020-07-22
6     2020-07-23
7     2020-07-23
8     2020-07-23
9     2020-07-23
10    2020-07-23
11    2020-07-23
Name: datetime, dtype: object

**单独查看datetime列中的时间**

In [43]:
data['datetime'].dt.time

0     12:00:00
1     12:20:00
2     12:40:00
3     13:00:00
4     13:20:00
5     13:40:00
6     12:00:00
7     12:20:00
8     12:40:00
9     13:00:00
10    13:20:00
11    13:40:00
Name: datetime, dtype: object

其他：

| 代码                                | 说明           |
| ----------------------------------- | -------------- |
| `data['datetime'].dt.year`          | 年             |
| `data['datetime'].dt.quarter`       | 季度           |
| `data['datetime'].dt.month`         | 月             |
| `data['datetime'].dt.week`          | 一年的第几周   |
| `data['datetime'].dt.day`           | 几号           |
| `year`a['datetime'].dt.hour`        | 小时           |
| `data['datetime'].dt.minute`        | 分钟           |
| `data['datetime'].dt.second`        | 秒             |
| `data['datetime'].dt.dayofyear`     | 一年的第几天   |
| `data['datetime'].dt.weekofyear`    | 一年的第几周   |
| `data['datetime'].dt.dayofweek`     | 一周的第几天   |
| `data['datetime'].dt.days_in_month` | 一个月有多少天 |
| `data['datetime'].dt.weekday_name`  | 星期几的英文名 |

**选出某一天的数据**

In [10]:
data[data['datetime'].dt.date==datetime.date(2020, 7, 22)]

             datetime  deep
0 2020-07-22 12:00:00    15
1 2020-07-22 12:20:00    16
2 2020-07-22 12:40:00    14
3 2020-07-22 13:00:00    15
4 2020-07-22 13:20:00    16
5 2020-07-22 13:40:00    17

**每隔40分钟deep的平均值**

In [39]:
# 结尾不加dropna会有很多缺失值
data.resample('40T', on='datetime')['deep'].mean().dropna()

datetime
2020-07-22 12:00:00    15.5
2020-07-22 12:40:00    14.5
2020-07-22 13:20:00    16.5
2020-07-23 12:00:00    12.5
2020-07-23 12:40:00    14.5
2020-07-23 13:20:00    15.5
Name: deep, dtype: float64

**每隔1个小时deep的最大值**

In [40]:
# 结尾不加dropna会有很多缺失值
data.resample('1h', on='datetime')['deep'].max().dropna()

datetime
2020-07-22 12:00:00    16.0
2020-07-22 13:00:00    17.0
2020-07-23 12:00:00    14.0
2020-07-23 13:00:00    16.0
Name: deep, dtype: float64

**每天的最小值**

In [42]:
data.resample('1d', on='datetime')['deep'].min().dropna()

datetime
2020-07-22    14
2020-07-23    12
Freq: D, Name: deep, dtype: int64